<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
    <link rel="stylesheet" href="/css/LoginForm.css" type="text/css">
    <link rel="stylesheet" href="/css/Del.css" type="text/css" rel="stylesheet">
    <link href="/css/NavigationBar.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Home/Addbooks">Add Book</a>
        <a href="/search">Find Books</a>
        <a href="#Profile">Account</a>
        <a href="/Cus_Show">Customer List</a>
        <a href="/Book_show">Book List</a>
        <a href="/NewPaper">Find Name</a>
        
      </div>
      <!-- title, author, parentFolder, image, Book_id -->
      <form action="/DeleteBooks/<%= GetBookdINFO.Book_id %>" method="POST">     
        <label>Are you sure to delete this Custom </label>
        <span id="CustomId"><%= GetBookdINFO.Book_id %></span>

        <!-- Hidden field to hold the CustomId -->
        <input type="hidden" name="Book_id" value="<%= GetBookdINFO.Book_id %>">

        <label for="title">title</label>
        <span id="title"><%= GetBookdINFO.title %></span>
        
        <label for="author">author</label>
        <span id="author"><%= GetBookdINFO.author %></span>
        
        <label for="parentFolder">parentFolder</label>
        <span id="parentFolder"><%= GetBookdINFO.parentFolder %></span>
        
        <label for="image">image</label>
        <span id="image"><%= GetBookdINFO.image %></span>
        
        <button type="submit">Delete</button>
    </form>
</body>
<body>
    
</body>
</html>