<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/css/LoginForm.css" type="text/css">
    <link href="/css/NavigationBar.css " type="text/css" rel="stylesheet">

</head>
<body>
    <div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Home/Addbooks">Add Book</a>
        <a href="/search">Find Books</a>
        <a href="#Profile">Account</a>
        <a href="/Cus_Show">Customer List</a>
        <a href="/Book_show">Book List</a>
        <a href="/NewPaper">Find Name</a>
        
      </div>
    <form action="/Update" method="POST">

        
        <input type="hidden" id="CustomId" name="CustomId" value="<%= GetUser.CustomId %>">
        

        <label for="UserName">Name</label>
        
        <input type="text" id="UserName" name="UserName" value="<%= GetUser.UserName %>">
        
        <label for="Gmail">Gmail</label>
        <input type="text" id="Gmail" name="Gmail" value="<%= GetUser.Gmail %>">
        
        <label for="BirthDay">Birthday</label>
        <input type="date" id="BirthDay" name="BirthDay" value="<%= GetUser.BirthDay %>">
        
        <label for="Phone">Phone</label>
        <input type="text" id="Phone" name="Phone" value="<%= GetUser.Phone %>">
        
        <button type="submit">Update</button>
    </form>
</body>
</html>
