<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/find.css" type="text/css">

    <title>List Book</title>
</head>
<body>
    <h1>List Book</h1>

    <% if (books && books.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Tiêu đề</th>
                    <th>Tác giả</th>
                    <th>Thông tin</th>
                    <th>Năm xuất bản</th>
                    <th>Địa chỉ</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(book => { %>
                    <tr>
                        <td><%= book.BookTitle %></td>
                        <td><%= book.Author %></td>
                        <td><%= book.About %></td>
                        <td><%= book.Year %></td>
                        <td><%= book.Address %></td>
                        <td>
                            <form action="/UpdateBook/<%= book._id %>" method="GET">
                                <button type="submit">Update</button>
                            </form>
                            <form action="/DeleteBook/<%= book._id %>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No books found.</p>
    <% } %>
</body>
</html>
