<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="/css/ShopPage.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>TonShop</h1>
            <nav>
                <ul>
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Sản Phẩm</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                    <li><form action="/findType" method="POST">
                        <select name="findtype" id="findtype" onchange="redirectToProduct()">
                            <option value="shirt">shirt</option>
                            <option value="coat">coat</option>
                            <option value="pants">pants</option>
                            <option value="hat">hat</option>
                            <option value="watch">watch</option>
                            <option value="shoes">shoes</option>
                            <option value="bag">bag</option>
                            <option value="outfit">outfit</option>
                            <option value="dress">dress</option>
                        </select>
                    </form>
                    
                    <script>
                        function redirectToProduct() {
                            var selectedType = document.getElementById("findtype").value;
                            window.location.href = "/products/" + selectedType;
                        }
                    </script>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="Title">
        <%= type %>
    </div>
    <div class="container">
    <section class="products">
        <div class="product-list">
            <% products.forEach(product => { %>
            <div class="product">
                <img src="<%= product.image %>" alt="<%= product.name %>">
                <h3><%= product.name %></h3>
                <p><%= product.price %> VND</p>
                <form action="/theProduct/<%=product._id%>" method="get">
                    <button type="submit">Thông tin sản phẩm</button>
                </form>
            <% }) %>
        </div>
        </section>
    </div>
</body>
</html>
