<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Warehouses</title>
    <link rel="stylesheet" href="/css/Warehourse.css" type="text/css">
    <link href="/css/notifacation.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <% if (typeof messages !== 'undefined' && messages.error) { %>
        <div class="notification error-notification">
            <%= messages.error %>
        </div>
    <% } %>
    <% if (typeof messages !== 'undefined' && messages.success) { %>
        <div class="notification success-notification">
            <%= messages.success %>
        </div>
    <% } %>
    <h1>Your Warehouses</h1>
    <a href="/addProduct"> <i class="fa-solid fa-plus"></i></a>
    <div class="warehouse-container">
        <% if (warehouses && warehouses.length > 0) { %>
            <ul class="warehouse-list">
                <% warehouses.forEach(warehouse => { %>
                    <li>
                        <div class="warehouse-card">
                            <% if (warehouse.Sale) { %> <!-- Kiểm tra nếu sản phẩm đang giảm giá -->
                                <div class="sale-badge"><%= warehouse.Sale %>%</div>
                            <% } %>
                            <img src="data:<%= warehouse.image.contentType %>;base64,<%= warehouse.image.data.toString('base64') %>" alt="<%= warehouse.name %>">
                            <h2><%= warehouse.name %></h2>
                            <p><strong>Price:</strong> <%= warehouse.price %></p>
                            <p><strong>Type:</strong> <%= warehouse.type %></p>
                            <p><strong>Quantity:</strong> <%= warehouse.quantity %></p>
                            <p><strong>Description:</strong> <%= warehouse.describe %></p>
                            <p><strong>Average Rating:</strong> <%= warehouse.averageRating %></p>
                            <p><strong>Shop Name:</strong> <%= warehouse.userName %></p>
                            <div class="button-function">
                                <form action="/updateProduct/<%= warehouse._id %>" method="get">
                                    <button type="submit" class="update-button"><i class="fa-solid fa-pen-to-square"></i></button>
                                </form>
                                <form action="/orderManagement/<%= warehouse._id %>" method="get">
                                    <button type="submit" class="order-management-button"><i class="fa-solid fa-file-invoice"></i></button>
                                </form>
                                <form action="/SaleProduct/<%= warehouse._id %>" method="get">
                                    <button type="submit" class="sale-button"><i class="fa-solid fa-ticket"></i></button>
                                </form>
                                <form action="/deleteProduct/<%= warehouse._id %>" method="post">
                                    <button type="submit" class="delete-button"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No warehouses found.</p>
        <% } %>
    </div>
</body>
</html>
